<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/profile.css">
    <title>Twitter</title>
    <style>
        .modal-header {
          padding: 2px 16px;
          background-color: #5cb85c;
          color: white;
        }

        .modal-body {padding: 16px 16px;}

        .modal-footer {
          padding: 2px 16px;
          background-color: #5cb85c;
          color: white;
        }

        .modal-content {
          position: relative;
          background-color: #fefefe;
          margin: 15% auto; 
          padding: 0;
          border: 1px solid #888;
          width: 80%;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          animation-name: animatetop;
          animation-duration: 0.4s
        }

        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 300px;
          margin: auto;
          text-align: center;
        }

        .title {
          color: grey;
          font-size: 18px;
        }

        .logout {
          border: none;
          outline: 0;
          display: inline-block;
          padding: 8px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }

        button:hover, a:hover {
          opacity: 0.7;
        }

        @keyframes animatetop {
          from {top: -300px; opacity: 0}
          to {top: 0; opacity: 1}
        } 
      </style>
  </head>
  <body>
    <div class='container' style="margin-top: 100px; margin-left: -300px;">
        <form action="/post/tweet" method="post" class="needs-validation" novalidate>
          <div id="myModal" class="modal">

            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
              </div>
              <div class="modal-body">
                <label for="tweetDescription"></label>
                <textarea class="form-control" id="tweetDescription" name="tweetDescription" rows="5"></textarea>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-large" style= "background-color: chocolate;">Post</button>
              </div>
            </div>
          
          </div>
        </form>

    <div class="card">
      <img src="https://homepages.cae.wisc.edu/~ece533/images/cat.png" alt="rashi" style="width:100%">
      <h1><%= name %></h1>
      <p class="title">CEO & Founder, Example</p>
      <p>Harvard University</p>
      <div style="margin: 24px 0;">
        <button id="myBtn">Post Tweet</button>
      </div>
      <p><button class="logout">LogOut</button></p>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
      var modal = document.getElementById("myModal");
      
      var btn = document.getElementById("myBtn");
      
      var span = document.getElementsByClassName("close")[0];
      
      btn.onclick = function() {
        modal.style.display = "block";
      }
      
      span.onclick = function() {
        modal.style.display = "none";
      }
      
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
  </body>
</html>